// See: http://2ality.com/2017/02/babel-preset-env.html

{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current",
          "uglify": true
        },
        "useBuiltIns": true,
        "debug": false
      }
    ],
    "react"
  ],
  "env": {
    "test": {
      "presets": [["env"], "react"]
    }
  },
  "retainLines": true,
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "transform-regenerator",
    "transform-runtime",
    "transform-class-properties"
  ]
}
